# Log files
app.log
*.log

# SQLite state files
completed
completed-shm
completed-wal
pending
pending-shm
pending-wal
queue
queue-shm
queue-wal

# Environment file
.env

# Cloudflare token
.cf_token

# Node.js
node_modules
/ui/dist/
/ui/coverage/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
.idea/
.vscode/
hqporner_api/