@use "app/dashboard/dashboard.component" as *
@use "app/admin/admin.component" as *

/* You can add global styles to this file, and also import other style files */

.navbar
    background-color: var(--bs-dark) !important

    [data-bs-theme="dark"] &
        background-color: var(--bs-dark-bg-subtle) !important

.footer
  padding: 1rem
  text-align: center
  font-size: 0.875rem
  color: var(--bs-secondary-color)
  background-color: var(--bs-tertiary-bg)
  border-top: 1px solid var(--bs-border-color)

  .container-fluid
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 1rem

  .footer-links
    display: flex;
    gap: 1rem;

  .footer-links a
    color: var(--bs-secondary-color)
    text-decoration: none

    &:hover
      color: var(--bs-primary)
      text-decoration: underline

  .version-info
    display: flex
    flex-wrap: wrap
    gap: 1.5rem
    justify-content: center
